.col-b{
    color: black;
}

.col-w{
    color: white;
}
.flex-box{
    display: flex;
    justify-content: center;
}
.align-str{
    align-items:baseline;
}

.grid{
    display: grid;  
}
.hov:hover{
    filter: brightness(0.8);
}
.ml-10{
    margin-left: 70px;
}
.r-bor{
    border: 2px solid red;
}